.remote{
	height:25%;
	width:100%;
	margin:0 auto;
	display:block;
	-webkit-background-size:contain;
	-moz-background-size:contain;
	-o-background-size:contain;
	background-size: contain;
}
.remoteHorizontal{
	float:left;
	height:100%;
	width:50%;
	margin:0 auto;
	display:block;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}


.remoteHorizontal:active {
    padding-top: 2cm;
}


.remote:active {
    padding-top: 2cm;
}
